.container {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #181820;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.content {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
}


.sidenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;

}


@media screen and (max-width: 560px) {
    .container {
        flex-direction: column-reverse;
    }
    //.content {
    //    position: static;
    //}
    .navbar {

    }
}
