.modal {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 500px;
  padding: 20px;
  border: 1px solid black;
  background-color: #21212b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.form-item {
  width: 400px;
}

input {
  color: white;
}

#task-collection {
  color: white;
  width: 420px;
}

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-color: white;
  border-radius: 10px;
}

.modal h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal div {
  margin-bottom: 10px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input, select {
    width: 100%;
    padding: 10px;
    background-color: #181820;
    border: 1px solid black;
    border-radius: 5px;
  }
}

.crateBtn, .cancelBtn {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancelBtn {
  background-color: hotpink;
}

.error-message {
  color: #d54646;
}

@media screen and (max-width: 660px) {
  .modal {
    width: 270px;

    #task-description {
      width: 200px;
    }

    #task-deadline {
      width: 200px;
    }
  }
  .form-item {
    width: 250px;
  }
  #task-collection {
    width: 220px;
  }
}
