<form [formGroup]="newTaskGroup" class="modal">
    <h1>Add a task</h1>
    <div class="form-item">
        <label for="task-description">Description:</label>
        <input [formControl]="newTaskGroup.controls.description" id="task-description" type="text"
               placeholder="Введите суть задачи">
    </div>
    <div class="form-item">
        <label for="task-deadline">End date:</label>
        <input [formControl]="newTaskGroup.controls.endDate" id="task-deadline" type="datetime-local">
    </div>
    <div class="form-item">
        <label for="task-collection">Collection:</label>
        <select id="task-collection" [formControl]="newTaskGroup.controls.collectionTask">
            <option *ngFor="let collect of collection$ | async"
                    [value]="collect">{{collect}}</option>
        </select>
    </div>
    <p *ngIf="submitted && (newTaskGroup.controls.collectionTask.hasError('required') || newTaskGroup.controls.description.hasError('required'))"
       class="error-message">
        Please ensure that the 'Description' and 'Collection' fields are filled out.
    </p>
    <div>
        <button class="crateBtn" (click)="createTask()">Create</button>
        <button class="cancelBtn" (click)="closeModal()">Cancel</button>
    </div>
</form>

