<div class="content">
    <div class="container">
        <mat-icon>edit</mat-icon>
        <h1>Register</h1>
        <form class="form" [formGroup]="loginGroup" (ngSubmit)="onSubmit($event)">
            <input type="text" placeholder="Your Username" id="input-username" class="input"
                   [formControl]="loginGroup.controls.username">
            <p *ngIf="checkValidService.getErrorMessage(submitted,loginGroup.controls.login)" class="error-message">
                {{ checkValidService.getErrorMessage(submitted, loginGroup.controls.login) }}
            </p>
            <input type="text" id="input-login" class="input" placeholder="Your Login"
                   [formControl]="loginGroup.controls.login">
            <p *ngIf="checkValidService.getErrorMessage(submitted,loginGroup.controls.login)" class="error-message">
                {{ checkValidService.getErrorMessage(submitted, loginGroup.controls.login) }}
            </p>
            <div class="password-input">
                <input id="input-password" [type]="showPassword ? 'text' : 'password'" placeholder="Password"
                       [formControl]="loginGroup.controls.password">
                <a class="password-toggle" (click)="togglePasswordVisibility()">
                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </a>
            </div>
            <p *ngIf="checkValidService.getErrorMessage(submitted,loginGroup.controls.login)" class="error-message">
                {{ checkValidService.getErrorMessage(submitted, loginGroup.controls.login) }}
            </p>
            <div>
                <button class="btn" type="submit">REGISTER</button>
            </div>
            <!--        <p *ngIf="notUser">Проверьте правильность введенных данных</p>-->
        </form>
        <a routerLink="/authorization" class="link">I have an account</a>
    </div>
</div>
