<div class="content">
    <div class="container">
        <mat-icon>home</mat-icon>
        <h1>Member Login</h1>
        <form class="form" (ngSubmit)="onSubmit()">
            <input type="text" id="input-login" placeholder="Your Login" [formControl]="loginGroup.controls.login">
            <p *ngIf="submitted && loginGroup.controls.login.hasError('minlength')" class="error-message">
                Username must be at least 3 characters long.
            </p>
            <p *ngIf="submitted && loginGroup.controls.login.hasError('required')" class="error-message">
                This field is required
            </p>
            <div class="password-input">
                <input id="input-password" [type]="showPassword ? 'text' : 'password'" placeholder="Password"
                       [formControl]="loginGroup.controls.password">
                <a class="password-toggle" (click)="togglePasswordVisibility()">
                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </a>
            </div>
            <p *ngIf="submitted && loginGroup.controls.password.hasError('minlength')" class="error-message">
                Username must be at least 3 characters long.
            </p>
            <p *ngIf="submitted && loginGroup.controls.password.hasError('required')" class="error-message">
                This field is required
            </p>
            <div>
                <button class="btn" type="submit">LOGIN</button>
            </div>
        </form>
        <a routerLink="/registration">I don't have an account</a>
    </div>
</div>

