.content {
  display: flex;
  justify-content: center;
  //align-content: center;
  align-items: center;
  background-color: #181820;
  height: 100vh;
}

h1 {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid black;
  border-radius: 25px;
  width: 500px;
  height: 500px;
  background-color: #21212b;
  color: white;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-evenly;
  height: 250px;

  input {
    height: 50px;
    background-color: #c9c8ce;
    border: none;
    text-align: center;

    &:hover {
      background-color: #b1b1b4;
    }
  }

  input::placeholder {
    text-align: center;
  }
}

.btn {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: #181820;
  color: white;
  border: 1px solid black;

  &:hover {
    background-color: #414052;
  }
}

.password-input {
  display: flex;
  align-items: center;
  position: relative;
}

.password-input input {
  border: none;
  flex: 1;
  padding: 5px;
}

.password-toggle {
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.password-toggle mat-icon {
  font-size: 20px;
  color: black;
}

.error-message {
  color: #c82828;
}

.link {
  color: #7f7f7f;
}

@media screen and (max-width: 660px) {
  .content {
    border-radius: 25px;
    width: 300px;
    height: 300px;
  }
  #input-login {
    height: 35px;
  }
  #input-password {
    height: 25px;
  }
  .btn {
    width: 150px;
    height: 35px;
    border-radius: 5px;
  }
  a {
    margin: 5px;
  }
  .form {
    height: 180px;
  }
  mat-icon {
    margin: 5px;
  }
  .password-toggle {
    padding: 0;
    right: 0px;
    top: 40%;
    transform: translateY(-50%);
  }
}
