
.card-body {
    padding-left: 20px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card-container-left {
    display: flex;
    flex-direction: column;
}

.endDate {
    color: #c05354;
    font-weight: normal;
    margin-left: 20px;
}

.current {
    color: #c05354;
    font-size: 12px;
}

.mini-task {
    margin-left: 25px;
    margin-bottom: 12px;
}

.icon-container {
    display: flex;

    mat-icon {
        color: white;
        cursor: pointer;
        margin: 0;
    }
}


mat-icon {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 10px;
    padding-top: 10px;
    width: 50px;
    height: 35px;
    border-radius: 10px;

}


.task-icon-dropup {
    color: #86868d;
    cursor: pointer;
}

.drag {
    cursor: grab;
    color: white;
}



