
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #21212b;
    color: #fff;
    height: 55px;

    .navbar-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .navbar-start, .navbar-end {
            display: flex;
            align-items: center;

            .navbar-item {
                display: flex;
                align-items: center;
                justify-items: center;
                padding: 10px 20px;
                color: #fff;
                text-decoration: none;
                cursor: pointer;

                &:hover {
                    background-color: #3f3f4d;
                }

                mat-icon {
                    margin: 10px;
                }
            }
        }

        .navbar-item img {
            max-width: 30px;
            max-height: 30px;
            border-radius: 50%;
            margin-left: 10px;
        }
    }

    .onPage {
        background-color: #3f3f4d;
    }
}

.navbar-end mat-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background: linear-gradient(70deg, #c848d2, #fe9584);

}

.naming {
    display: none;
}

@media screen and (max-width: 560px) {
    .navbar-item {
        padding: 0;
        margin: 0;

        p {
            display: none;
        }
    }
    .menu-icon {
        display: none;
    }
    .navbar-end mat-icon {
        width: 40px;
        height: 40px;
        justify-content: center;
    }
    .navbar-item img {
        display: none;
    }
    .naming {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 80px;

        h3 {
            font-weight: bold;
            margin: 0;

        }
    }
    #image {
        padding: 0;
    }
    #burger {
        padding: 0;
    }
    #collections {
        padding: 0;
    }
    #dashboard {
        padding: 0;
    }
    .navbar-menu {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    .navbar-start {
        width: 160px;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
    }
}
