<nav class="navbar">
    <div class="navbar-menu">
        <div class="navbar-start">
            <a (click)="toggleSidenav()" *ngIf="menuVisible$ | async" id="burger" class="navbar-item">
                <mat-icon class="menu-icon"
                          aria-hidden="false">{{ (sidenavVisible$ | async) ? 'close' : 'menu' }}</mat-icon>
            </a>
            <a [ngClass]="{ onPage: !(lighting$ | async) }" routerLink="/"
               class="navbar-item" id="dashboard">
                <mat-icon aria-hidden="false">dashboard</mat-icon>
                <p>Dashboard</p></a>
            <a [ngClass]="{ onPage: (lighting$ | async) }" routerLink="/collections" class="navbar-item"
               id="collections">
                <mat-icon aria-hidden="false">collections</mat-icon>
                <p>Collections</p></a>
        </div>
        <div class="navbar-end">
            <a (click)="openDialog()" class="navbar-item add">
                <mat-icon aria-hidden="false">add</mat-icon>
            </a>
            <a (click)="openProfile()" id="image" class="navbar-item">
                <img src="assets/user_avatar1.png" alt="Аватар">
            </a>
        </div>
        <div class="naming">
            <h3>Believe & Achieve</h3>
        </div>
    </div>
</nav>
