
.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 70px);
  background-color: #181820;
}


.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.collection-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  color: white;
  overflow: auto;
  background-color: #181820;
}

.notCompleted {
  margin-top: 30px;
}

.completedTask {
  margin-top: 30px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21212b;
  width: 550px;
  height: 100px;
  padding-left: 20px;
  border-radius: 25px;
  margin: 20px;


}


.checkbox {
  display: none;
}

.label {
  display: flex;
  justify-items: center;
  align-items: center;
}

.fake {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 10px;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
  border: 2px solid white;
}


.checkbox:checked + .fake::before {
  opacity: 1;
}

.text {
  color: white;
  cursor: pointer;
}

.text-completed {
  color: white;
  text-decoration: line-through;
  cursor: pointer;
}

.fake.work {
  border: 2px solid #fc76a1;
}

.fake.person {
  border: 2px solid #a96bda;
}

.fake.groups {
  border: 2px solid #795548;
}

.fake.pets {
  border: 2px solid #3380cb;
}

.fake.payments {
  border: 2px solid #70c4bf;
}

.fake.medication {
  border: 2px solid #ffeb3b;
}


.endDate {
  color: #c05354;
  font-weight: normal;
  margin-left: 20px;
}

.completed::before {
  background-color: white;
  content: "✓";
  color: black;
  font-size: 16px;
  padding-left: 3px;
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s;
}

.fake.groups.completed::before {
  background-color: #795548;
  content: "✓";
  font-size: 16px;
  padding-left: 3px;
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s;
}

.fake.work.completed::before {
  background-color: #fc76a1;
  content: "✓";
  font-size: 16px;
  padding-left: 3px;
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s;
}

.fake.person.completed::before {
  background-color: #a96bda;
  content: "✓";
  font-size: 16px;
  padding-left: 3px;
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s;
}

.fake.pets.completed::before {
  background-color: #3380cb;
  content: "✓";
  font-size: 16px;
  padding-left: 3px;
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s;
}

.fake.payments.completed::before {
  background-color: #70c4bf;
  content: "✓";
  font-size: 16px;
  padding-left: 3px;
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s;
}

.fake.medication.completed::before {
  background-color: #ffeb3b;
  content: "✓";
  font-size: 16px;
  padding-left: 3px;
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: .2s;
}

.endDate {
  color: #c05354;
  font-weight: normal;
  margin-left: 40px;
}

.header-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 40px 0 0 20px;

  .arrow-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #21212b;
    margin-right: 10px;
    cursor: pointer;


    mat-icon {
      margin-left: 10px;
    }
  }

  h1 {
    margin-bottom: 0;
  }
}

.arrow-icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: 2px red;
}

h3 {
  margin-left: 20px;
}


.app-navbar-main {
  display: block;
}

.add-container {
  display: none;

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 20px;
    background: linear-gradient(70deg, #c546d5, #fe9782);
    margin-bottom: 5px;
  }
}


@media screen and (max-width: 660px) {
  .add-container {
    display: flex;
  }

  .container {
    height: 100vh;
  }
  .app-navbar-main {
    display: none;
  }
  .task {
    width: 350px;
    height: 100px;
  }
  .header-content {
    margin-top: 10px
  }
}
