<app-navbar class="app-navbar-main"></app-navbar>
<div class="container">
    <app-sidenav *ngIf="sidenavVisible$ | async"></app-sidenav>
    <div class="collection-page">
        <div class="content">
            <div class="header-content">
                <div class="arrow-icon" (click)="goBack()">
                    <mat-icon>arrow_back_ios</mat-icon>
                </div>
                <h1>{{collection}}</h1>
            </div>
            <div class="notCompleted" *ngIf="tasksReady$ | async">
                <h3>Tasks - {{(tasksReady$ | async)?.length}}</h3>
                <div class="task" *ngFor="let  task of tasksReady$ | async">
                    <div>
                        <label class="label">
                            <input [formControl]="isCheckbox" (change)="changeTaskCompleted(task)" type="checkbox"
                                   class="checkbox">
                            <span [ngClass]="{'completed': task.isCompleted,'not-completed': !task.isCompleted}"
                                  class="fake {{task.collectionTask}}"></span>
                            <span class="text">{{ task.description }}</span>
                        </label>
                        <p class="endDate">{{task.endDate | customDate}}</p>
                    </div>
                    <app-edit-collection [task]="task"></app-edit-collection>
                </div>
            </div>
            <div class="completedTask" *ngIf="tasksReady$ | async">
                <h3>Completed - {{(tasksFalsy$ | async)?.length}}</h3>
                <div class="task" *ngFor="let  task of tasksFalsy$ | async">
                    <div>
                        <label class="label">
                            <input [formControl]="isCheckbox" (change)="changeTaskCompleted(task)" type="checkbox"
                                   class="checkbox">
                            <span [ngClass]="{'completed': task.isCompleted,'not-completed': !task.isCompleted}"
                                  class="fake {{task.collectionTask}}"></span>
                            <span class="text-completed">{{ task.description }}</span>
                        </label>
                        <p class="endDate">{{task.endDate | customDate}}</p>
                    </div>
                    <app-edit-collection [task]="task"></app-edit-collection>
                </div>
            </div>
        </div>
        <div class="add-container">
            <a (click)="openDialog()" class="navbar-item add">
                <mat-icon aria-hidden="false">add</mat-icon>
            </a>
        </div>
    </div>
</div>
